<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<!-- WELCOME -->
<div id="welcome">
    <div style="font-size: 80px;">Welcome  <%=username %> </div>
    <div style="font-size: 35px;">to</div>
    <div style="font-size: 40px;">MONEY WAR</div>
    <div style="font-size: 35px;">add, update, delete products for bidding</div>
</div>

<!-- NAVIGATION BAR-->
<div class="navbar">
    <div id="home"> <%=username %></div>
    <div id="products"><a href="/products">PRODUCTS</a></div>
    <div id="logout"><a href="/">LOG OUT</a></div>
</div>
