<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<header>Money War</header>
<div id='logform'>
    <form id="login" method="POST" action="/login">
        <div id="abt">LOGIN</div> 
        <input class="data" type="text" name="username" placeholder="Username"><br>
        <input class="data" type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="LOGIN" class="bttn">
        <div id="signup">Not a member? <a href="/signup">Sign-up</a> now</div>
    </form>
</div>